<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="styles/dashboard/index.css">
</head>

<body>
    <header class="header">
        <div class="header-logo">
            <h1>SelfBy</h1>
        </div>

        <div class="header-nav">
            <button class="n-btn">Новый проект</button>
            <button class="b-btn" id="profileBtn">Profile</button>
        </div>
    </header>

    <main class="main">
        <div class="main-menu">
            <div class="menu-title">
                <h3>Ваши проекты</h3>
            </div>

            <hr>

            <div class="menu-projects" id="projectsList"></div>
        </div>

        <div class="main-base">
            <div class="base-title">
                <h2>Добро пожаловать, <span id="username">загрузка...</span>!</h2>
            </div>

            <hr>

            <div class="simple">
                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur veritatis nam quam corporis
                    error, consequatur magnam, quidem blanditiis placeat voluptatem quaerat voluptate quae laudantium in
                    aperiam, saepe facere? Esse, est!</div>
                <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt rem earum voluptates nihil iure
                    sapiente sunt nulla impedit culpa placeat, ipsa maiores quas, architecto ducimus, tempore harum
                    optio voluptatibus illum!</div>
            </div>
        </div>
    </main>

    <div class="modal" id="newProjectModal">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Новый проект</h3>
                <button class="modal-close">&times;</button>
            </div>
            <div class="modal-body">
                <input type="text" placeholder="Название проекта" class="project-name-input" id="projectName">
                
                <select class="project-type-select" id="projectType">
                    <option value="">Выберите тип проекта</option>
                    <option value="private">Закрытый</option>
                    <option value="public">Открытый</option>
                </select>
                
                <textarea placeholder="Описание проекта" rows="4" id="projectDescription"></textarea>
            </div>
            <div class="modal-footer">
                <button class="create-btn l-btn" id="createProjectBtn">Создать</button>
            </div>
        </div>
    </div>

    <script src="../js/dashboard/index.js"></script>
</body>

</html>