@import 'var.scss';

.breadcrumbs {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    flex-wrap: wrap;
    padding: 10px 0;
}

.breadcrumb-link {
    color: var(--c-gray);
    text-decoration: none;
    transition: color 0.3s;
}

.breadcrumb-link:hover {
    color: var(--c-green);
}

.breadcrumb-sep {
    color: var(--c-gray-3);
}

.breadcrumb-current {
    color: var(--c-dark);
    font-weight: 600;
}