@import 'var.scss';

.tips {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    background: $c-green-light-2;
    border: 2px solid $c-green;
    border-radius: $radius-xl;
    margin-bottom: 20px;

    .tips-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
        border-bottom: 1px solid $c-green-light-3;

        h3 {
            font-size: 18px;
            color: $c-dark;
        }

        .tips-close {
            background: transparent;
            color: $c-gray;
            border: 1px solid $c-gray-3;
            padding: 5px 15px;
            border-radius: $radius-2xl;
            cursor: pointer;
            font-size: 12px;
            transition: $transition;
            font-family: $font-main;

            &:hover {
                background: $c-white;
                border-color: $c-gray-2;
                color: $c-dark;
            }
        }
    }

    .tip {
        display: flex;
        align-items: flex-start;
        gap: 15px;
        padding: 15px;
        background: $c-white;
        border-radius: $radius-lg;
        border: 1px solid $c-gray-5;

        .tip-icon {
            font-size: 24px;
            flex-shrink: 0;
        }

        p {
            font-size: 14px;
            color: #555;
            line-height: 1.6;
            margin: 0;

            span {
                font-weight: 700;
            }
        }
    }
}